<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-label>Membership</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Our Services</ion-label>
            </ion-item>
            <ion-item>
                 <ion-label>Our Policy Work</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Network and events</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Media Center</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
