[cards] 
{
    .grid-full ion-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 2px 0;
    }
    .row {
        padding: 0;
    }
    .col {
        padding: 0px 0;
    }
    .card {
        margin: 0 0 0 12px;
        padding: 1px;
        
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        p {
            font-weight: 100;
            font-size: 5;
            text-align: center;
        }
    }
}

ion-card {
    border-top: 3px solid #6639b7;
 }

 .text-left {
     align-items: right;
 }