<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Disability Smart</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
      <ion-tab-button tab="media">
        <ion-icon name="camera"></ion-icon>
        </ion-tab-button>
      <ion-tab-button tab="resources">
         <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="elearning">
       <ion-icon name="card"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="support">
        <ion-icon name="headset"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
